.App {
  box-sizing: border-box;
  text-align: center;
}

.CalcContainer {
  width: 500px;
  margin: auto;
}

.CalcDisplay {
  border: 1px solid #505050;
  height: 40px;
  font-size: 2em;
  margin-bottom: 2px;
  padding: 10px;
  text-align: right;
  background: gray;
}

.ButtonContainer {
  display: grid;
  gap: 2px;
  grid-template-columns: repeat(4, 1fr);
}

.ButtonContainer > button {
  justify-content: center;
  border: 1px solid #1C1C1C;
  font-size: 2em;
  background-color: yellow;

}



